@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
body{
  margin: 0;
}
*{
  box-sizing: border-box;

}

.main{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  margin: 0;
}
.header{
  display: flex;
  justify-content: center;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fca311;
  position: relative;
  
  
}
.header h1{
  position: absolute;
}

.container{
  width:360px;
  background-color: black;
  color:white;
  border-radius: 7px;
  text-align: center;
 
  position: relative;
  max-width: 100%;
  padding: 5px;
  
  
}
h3,span{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
h5{
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.pro{
  padding: 4px 7px ;
  position: absolute;
  left:10px;
  top: 30px;
  border-radius: 3px;
  
}
.pro.online{
  background-color: green;
}
.pro.offline{
  background-color: red;
}
img{
  height: 150px;
  width:150px;
  border-radius: 50%;
  border: 3px solid white;
  padding: 7px;
  
}
.buttons{
  display: flex;
  justify-content: center;
  gap:10px;
  margin-bottom: 5px;
  
}
.primary{
  background-color: blue;
  border: 1px solid blue;
  padding: 5px 7px;
  border-radius: 4px;
  color: white;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.primary.outline{
  background-color: transparent;
}
.skills{
  background-color: #343a40;
  padding: 3px 9px;
  text-align: left;
  margin-top: 0;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
li{
  padding:4px 6px;
  border: 1px solid white;
  display: inline-block;
  margin: 2px 7px 4px 7px;
  font-size: 13px;
  border-radius: 4px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}
h6{
  font-family: 500;
  font-size: 12px;
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
}
@media screen and (max-width:1050px) {
  .header h1{
    position: relative;
  }
}